<h1>Editing Transaction</h1>

<%= render 'form', transaction: @transaction %>

<%= link_to 'Show', [@user, @account, @transaction] %> |
<%= link_to 'Back', user_account_transactions_path(@user, @account) %>
